.grid {
  min-block-size: 264px;
}

.list {
  min-block-size: 131px;
}

.draggable:active {
  cursor: grabbing;
}

.draggedVideo {
  opacity: 0;
  transition: 0.01s;
}

.spatialNavFocused {
  outline: 3px solid #fff;
  outline-offset: 2px;
  border-radius: 12px;
}
