.relative {
  position: relative;
}

.watchVideoRecommendations {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.VideoRecommendationsTopBar {
  display: flex;
  grid-column: 1 / -1;
  justify-content: space-between;
}

@media only screen and (width <= 1050px) {
  .watchVideoRecommendations {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
